html
{
  background-image: url('order.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
* {
    box-sizing: border-box;
}
div {
    padding: 5px;
    overflow: hidden;
    align-self: center;
    
}
input[type=text], select {
    font: 17px Calibri;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    
}
input[type=button]{ 
    font: 17px Calibri;
    padding: 12px;
    width: 100%;
    float: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 7px;
}